@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
html {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* HEADER */
.logo {
  width: 190px;
}

.navbar {
  background-color: rgb(42, 39, 39);
}

.menu {
  color: wheat !important;
}

/* HERO */

.fondoImg {
  background-image: url("../img/Yerba-Mate-1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colorBtn {
  background-color: rgb(42, 39, 39);
  font-size: 1, 4px;
  color: wheat;
  margin: 5px;
}

/* PRODUCTOS */

.tituloProductos {
  background-color: rgb(42, 39, 39);
  color: wheat;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

.tituloProductos h5 {
  font-size: 15px;
}
