@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
html {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: rgb(31, 27, 27);
}

/* HEADER */
.logo {
  width: 150px;
  border-radius: 20%;
}

.navbar {
  background-color: rgb(31, 27, 27);
}

.menu {
  color: wheat !important;
}

.search {
  width: 30px;
}

.form-control {
  width: auto;
}

.navbar-collapse {
  color: wheat;
}

.rounded-circle {
  width: 150px;
}
.navbar-toggler {
  color: white;
  border-color: white;
}
/* HERO */

.fondoImg {
  background-image: url("../img/Yerba-Mate-1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid rgb(42, 39, 39);
}

.colorBtn {
  background-color: rgb(42, 39, 39);
  font-size: 1, 4px;
  color: wheat;
  margin: 5px;
}

/* PRODUCTOS */

.tituloProductos {
  background-color: rgb(42, 39, 39);
  color: wheat;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

.tituloProductos h5 {
  font-size: 15px;
}

.card-img-top {
  width: 250px;
}

.stanley {
  width: 240px;
}

.fondoProductos {
  background-color: rgb(31, 27, 27);
  row-gap: 15px;
  margin-left: 0%;
  margin-right: 0%;
}

/* CARDS */

.cards {
  text-align: center !important;
}

/* CAROUSEL */

.imgCarousel {
  height: 450px;
  object-fit: cover;
}

.carousel {
  border: solid rgb(42, 39, 39);
}
/* FOOTER */

footer {
  background-color: rgb(31, 27, 27);
  color: white;
}

.nav-link {
  color: white !important;
}

/* FORMULARIO DE CONTACTO */
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}
