@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
html {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

/* HEADER */
.logo {
  width: 190px;
}

.navbar {
  background-color: rgb(109, 106, 106);
}
